<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [23]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [24]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Download the webpage at the url

In [25]:
data = requests.get(url).text

Create a soup object

In [26]:
soup = BeautifulSoup(data, "html.parser")

Scrape the `Language name` and `annual average salary`.

In [43]:
table = soup.find('table')
table_df = pd.DataFrame(columns=['Language name','annual average salary'])

for row in table.find_all('tr'):
    cols = row.find_all('td')
    Language_name = cols[1].getText()
    Annual_average_saraly = cols[3].getText()
    print('Language name= {} and Annual average salary= {}'.format(Language_name, Annual_average_saraly))
    table_df = table_df.append({'Language name': Language_name, 'annual average salary': Annual_average_saraly}, ignore_index=True)
    table_df

Language name= Language and Annual average salary= Average Annual Salary
Language name= Python and Annual average salary= $114,383
Language name= Java and Annual average salary= $101,013
Language name= R and Annual average salary= $92,037
Language name= Javascript and Annual average salary= $110,981
Language name= Swift and Annual average salary= $130,801
Language name= C++ and Annual average salary= $113,865
Language name= C# and Annual average salary= $88,726
Language name= PHP and Annual average salary= $84,727
Language name= SQL and Annual average salary= $84,793
Language name= Go and Annual average salary= $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [51]:
df = pd.DataFrame(table_df, columns=['Language name','Annual average salary'])
df.drop(df.index[0], inplace=True)
df.to_csv('popular-languages.csv')
df

   Language name  Annual average salary
1         Python                    NaN
2           Java                    NaN
3              R                    NaN
4     Javascript                    NaN
5          Swift                    NaN
6            C++                    NaN
7             C#                    NaN
8            PHP                    NaN
9            SQL                    NaN
10            Go                    NaN

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).